<div class="border p-2 mt-1">
    <h5>USER LIST</h5>
</div>

<div class="border p-2">
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group row">
                <label class="col-2 col-form-label col-form-label-sm">Search</label>
                <div class="col-8">
                    <input class="form-control form-control-sm" type="text" [(ngModel)]="searchstring">
                </div>
                <div class="col-2">
                    <button class="btn btn-sm btn-info" (click)="list()">Search</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mt-1">
    <nav aria-label="Page navigation example">
        <ul class="pagination mb-1">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&lsaquo; </span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&rsaquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>


<div class="border">
    <table class="table table-sm table-hover cursor-pointer">
        <thead>
            <tr>
                <th>CODE</th>
                <th>NAME</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let rec of list$ | async">
                <td>{{rec.userid}}</td>
                <td>{{rec.username}}</td>
            </tr>
        </tbody>
    </table>
</div>