<div class="p-2">
    <h5>USER LIST</h5>
</div>

<div class="border p-2 text-center">
    <button class="btn btn-sm btn-info" (click)="list()">Search</button>
</div>

<div class="border">

    <table class="table table-sm table-hover cursor-pointer">
        <thead>
            <tr>
                <th>CODE</th>
                <th>NAME</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let rec of list$ | async">
                <td>{{rec.userid}}</td>
                <td>{{rec.username}}</td>
            </tr>
        </tbody>
    </table>

</div>