/* You can add global styles to this file, and also import other style files */

html {
    height :100%;
}

body {
    height :100%;
    padding :2px;
}

.wrapper-center{
    display : flex;
    flex-direction:  column;
    align-items:  center;
    justify-content: center;
    height :100%;
}

.cursor-pointer {
    cursor : pointer;
}

.progress {
    border-radius: 0 !important;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    height:100%;
    width : 100%;
    transform: translate(-50%, -50%);
    z-index:9999;
    background: rgba( 150, 150, 150, 150 );
    opacity: 0.6;
  }


  .row {
      
      margin  :0 !important;
  }
